# This .dockerignore is for the DNI.API project / Dockerfile (we require files in the root to compile) but is ignored by the other Dockerfiles

nginx/
docker-envs/

docker-compose.yml
docker-compose.*.yml
LICENSE
VERSION

**/.*
**/.*/
**/*.ps1
**/*.DotSettings
**/*.csproj.user
**/*.md
**/*.log
**/Dockerfile
**/bin/
**/obj/
**/node_modules/
**/dist/
**/packages/
**/wwwroot/

src/DNI.SMTP/
src/DNI.Web/