docker-compose.yml
docker-compose.*.yml
LICENSE
nginx/
docker-envs/

**/.*
**/.*/
**/*.ps1
**/*.DotSettings
**/*.csproj.user
**/*.md
**/*.log
**/Dockerfile
**/bin/
**/obj/
**/node_modules/
**/dist/
**/packages/
**/wwwroot/
