<h2 class="text-light">Meet The Creators</h2>

<p class="text-light">We LOVE development. We boast over 50 years of collective development industry experience, but we don't know everything - that's why we got together for this show - to learn from each other and bring the wider community up to date details on the latest development tech.</p>

<dni-loading *ngIf="!creators; else creatorsList"></dni-loading>

<ng-template #creatorsList>
  <div class="row">
    <div class="col-md-4"
         *ngFor="let c of creators">
      <div class="card">
        <img class="card-img-top" [src]="c.img" [alt]="c.name"/>
        <div class="card-body">
          <h5 class="card-title">{{c.name}}</h5>
          <p class="card-text">{{c.desc}}</p>
        </div>
        <div class="card-footer">
          <a *ngFor="let l of c.links" [href]="l.uri" class="btn btn-primary card-link" [title]="l.alt" target="_blank"><i class="{{l.icon}}"></i></a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
