@import './src/_bootstrap-variables';

:host ::ng-deep #dni-footer-soc-lnks ul.dni-soc-lnks {
    i.fab {
        text-align: center;
        width: 1.25em;
    }
    .social-text {
        padding-left: .5em;
    }
    padding: 0;
    list-style: none;
}

.nav-link-coloured {
    cursor: pointer;
    color: $primary;
}
