<div class="container">
    <ul class="nav justify-content-center font-weight-bold h5 py-3 text-shadow">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/show-archive']" routerLinkActive="active">Podcast Archive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact Us</a>
        </li>
    </ul>

    <router-outlet></router-outlet>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <h5>Site Links</h5>
                <ul class="footer-links list-unstyled">
                    <li>
                        <a [routerLink]="['/']" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/show-archive']" routerLinkActive="active">Show Archive</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
                    </li>
                </ul>
                <h5>Community &amp; Policies</h5>
                <ul class="footer-links list-unstyled">
                    <li>
                        <a [routerLink]="['/ethics']" routerLinkActive="active">Code of Ethics</a>
                    </li>
                    <li>
                        <a [routerLink]="['/community-guidelines']" routerLinkActive="active">Community Guidelines</a>
                    </li>
                    <li>
                        <a [routerLink]="['/privacy']" routerLinkActive="active">Privacy &amp; Cookies Policy</a>
                    </li>
                    <li>
                        <a [routerLink]="['/faq']" routerLinkActive="active">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5>Social</h5>
                <dni-social-links id="dni-footer-soc-lnks"></dni-social-links>
            </div>
            <div class="col-12 col-md-4 small">
                <p>Website and content &copy; Documentation Not Included 2018. All 3rd party resources are used with consent and / or are licensed for reuse.</p>

                <p>Website by <a href="//www.shadowmoses.co.uk" target="_blank"><img src="assets/creators/smd.png" alt="Shadow Moses Developments Ltd" width="32" /></a>. DNI v{{version}} - {{versionText}}.</p>
            </div>
        </div>

    </div>
</footer>


<cookie-law name="dni-cookie-law"
            awsomeCloseIcon="far fa-times-circle">
    <p>We use cookies... <small class="text-muted">yadda, yadda,</small> ...your privacy... <small class="text-muted">mumble, mumble,</small> ...GDPR... <small class="text-muted">something, something, </small> ...customise your experience. Just press the little X on the right or <a [routerLink]="['privacy']">read more</a>.</p>
</cookie-law>
