<div class="container bg-light rounded p-4">
  <h1>Documentation Not Included</h1>
  <h2>Code of Business Ethics for Contributors</h2>

  <p>This document outlines the ethical code for the Documentation Not Included show. It contains a set of principles and practices to guide all project Contributors.</p>

  <p>The following terms are defined herein:</p>

  <ul>
    <li>Project / Show - Documentation Not Included show</li>
    <li>Creator - An original creator of the Project - Josey Howarth, Chris Sebok and Patryk Kowalik.</li>
    <li>Volunteer - An unpaid member from the Community who helps out with one or more specific tasks</li>
    <li>Contributor - A Creator, Volunteer or Guest</li>
    <li>Host - One or more Creators or Contributors that take charge of the show for that episode</li>
    <li>Guest - A member of the public who has or will be taking part in one or more Shows.</li>
    <li>Community - A collection of potentially transient members of the public with a keen interest in us, the Project, or the Show and its content.</li>
    <li>Sponsor - A professional organisation or individual that provides Swag to the Show in return for advertising.</li>
    <li>Swag - Loot, toys and merchandise either purchased directly by the Creators / Project, or contributed to the Show by Sponsors.</li>
  </ul>

  <h3>About the Show</h3>
  <p>Documentation Not Included is first and foremost a live streamed show where passionate developers talk about their love for development - in and out of a commercial setting. We aim to provide value to our own Community by engaging the wider development community, facilitating accurate, informative content and hosting guests from a vast range of development areas and disciplines.</p>

  <p>Although the Show will be developed over time, we initially aim for a fixed format where each episode will focus on one specific area of development. This area is likely to be focussed around a Guest’s expertise, or a subject that the Creators or Host are interested in.</p>
  
  <h3>Code of Ethics</h3>
  <h4>Fun & Enjoyment</h4>
  <p>Whilst the subject nature of the Show can be very serious and detail oriented, our first priority is having fun. All Contributors do this their spare time, and their contribution to the show should remain a fun and rewarding experience for all.</p>

  <h4>Podcast First</h4>
  <p>The Show may contain audio-visual elements including but not limited to screen sharing, merchandise / sponsorship giveaways, production graphics and VTs. The show is streamed LIVE initially, uploaded to YouTube, then converted to an audio-only podcast format at a later date. For this reason, all Contributors and Guests should bear this in mind when referring to or talking about visual elements that may not translate to an audio-only podcast very well. Any links, videos or visual elements required should be added to the show notes so the producer can upload them with the podcast and videos.</p>

  <p>Any editions of the Show that rely heavily on visual elements must be introduced as such, so that podcast listeners know their experience will be enhanced when watched as a video instead.</p>

  <h4>Discrimination, Favouritism & Nepotism</h4>
  <p>Discrimination against another Contributor or a member of the Community based on race, politics, culture, creed, sex, gender, age, social standing, disability, commercial experience, or any other form is wholly unacceptable and will be met with instant bans / expulsion from community servers, depending on the severity of the discriminatory comments or opinions.</p>

  <p>Volunteers will be selected based upon their passion and interest in the Project and need not have direct commercial exposure to development.</p>

  <p>Show Guests are invited based on the value they provide the Show and the Community - meaning that most Guests will be developers, influential figures, and / or product evangelists from various different developmental disciplines.</p>

  <p>A number of Guests and Volunteers are likely to be related to, or closely connected to the Creators. These individuals will be treated in exactly the same way as all other Guests and Volunteers and will receive no special treatment.</p>

  <h4>Bribes, Incentives, Endorsements, Sponsorship and Benefits</h4>

  <p>Under no circumstances should any Contributor accept or be influenced by an offer of incentive or bribery from any party, including Sponsors, members of the Community or other Contributors. The Project will remain a private organisation run by the Creators, unattached or influenced by any sponsors and / or other companies or individuals.</p>

  <p>Sponsorship can be viewed as a form of bribery if not handled correctly. Loot and / or Swag received from Sponsors will primarily be used as a marketing tool for the Show, providing the Community with benefits. Any Sponsorship that requires the Host to mention or use a strapline / tagline should be obvious marketing and not endorsed by the show.</p>

  <p>Creators reserve the right to take a benefit from Sponsorship, but not before the Community has already benefited from it. Any benefits taken from Sponsorship should not alter the benefactor’s views, opinions or preferences, other than by virtue of a trial or review where the benefit of the product is deemed to objectively improve the benefactor’s productivity or otherwise enhance their workflow. For example - if a commercial company were to offer exclusive free trial access to a newly released ALM system, and that ALM system is proven to improve the benefactor’s workflow on a particular project, it would be acceptable to endorse that product over its competitors. However, if that endorsement were due to a continued offer of free access to a tool that would otherwise cost the benefactor money, this would be seen as bribery, and ultimately harmful to the Community.</p>

  <h4>Platform Agnosticism</h4>

  <p>Development is a wide and varied area of expertise. The show aims to openly debate all and any development platforms, environments, architectures and stacks. Although prejudices against particular companies, ecosystems and platforms exist, we aim to objectively discuss and compare these differences in a non-prejudicial manner. Obstructive or unconstructive views are not welcome at Documentation Not Included.</p>

  <h4>Remote Nature of Contributions</h4>
  <p>All three Creators come from diverse cultural and geographical backgrounds and - at the time of writing - have not met face to face. The Project uses many digital communication and project management tools to facilitate a non-structured and remote way of working. At no point now or in the future will Contributors be required to travel elsewhere or meet another Contributor to complete any tasks.</p>

  <h4>Ownership & Agreements</h4>
  <p>The Creators wholly own and operate the Project and Show. Ownership stakes and terms are defined in a separate document.</p>

  <p>All actions and decisions that affect the Show and Project must go through at least one Creator, who will inform or discuss them with the other Creators, whose decision is final.</p>

  <h4>Production</h4>
  <p>The Show will be temporarily produced by Love Sudo Ltd (private limited company registered in England & Wales, Company No. 10637782), one of the Creator’s own companies. This is to facilitate the rapid development of the Show and Love Sudo Ltd do not benefit from this arrangement in any form.</p>

  <h4>Hosting</h4>
  <p>A Host may be a Creator or Volunteer. Each episode will be hosted by exactly one Host, who will direct and control the show in their own unique style.</p>

  <p>Hosts are directly responsible for the management of Guests, the production of show notes, and the production of the live episode until such a time it's possible to offload this responsibility to a back-stage production crew. Other participants can also contribute to the show notes.</p>

  <p>A Creator or Volunteer other than the Host will be tasked with managing chat, including but not limited to the compilation of community questions for the Host to incorporate into the Show as appropriate.</p>

  <h4>Profanity</h4>
  <p>Whilst we’re all adults and our audience is likely to consist of mature developers between 20 - 45 years old, the use of profanity on the Show or in chat - in an angry, trolling or other inappropriate context - is not acceptable. Excessive use of profanity by the Host or Guests during recording of the Show is permitted, but discouraged in the interests of professionalism.</p>

  <hr />

  <p>This Code of Business Ethics is subject to change. If updated, all current Contributors will be issued with a new document.</p>

</div>
