<div class="container bg-light rounded p-4">
  <h1>DNI Stream</h1>
  <h2>Code of Business Ethics for Contributors</h2>

  <p>This document outlines the ethical code for the DNI Stream production team and community members. It contains a set of principles and practices to guide all project Contributors.</p>

  <p>The following terms are defined herein:</p>

  <ul>
    <li>Brand / Project - The &quot;DNI Stream&quot; Repository</li>
    <li>Show - One or more of our live shows - currently Documentation Not Included or Development Now Included</li>
    <li>Creator - One or more of the Project's original creators - Josey Howarth and Chris Sebok.</li>
    <li>Volunteer - An unpaid member from the Community who helps out with one or more specific tasks</li>
    <li>Contributor - A Creator, Volunteer or Guest</li>
    <li>Host - One or more Creators that are responsible for running a Show</li>
    <li>Guest - A member of the public who has or will be taking part in one or more Shows.</li>
    <li>Community - A collection of potentially transient members of the public with a keen interest in us, the Project, or the Show and its content.</li>
    <li>Sponsor - A professional organisation or individual that provides a Benefit to the Project in return for advertising.</li>
    <li>Benefit - Swag, loot, toys, license keys, hardware, software, and / or merchandise either purchased directly by the Creators / Project, or contributed to the Project by Sponsors.</li>
  </ul>

  <h3>About the Project</h3>
  <p><strong>DNI Stream</strong> is a live knowledge repository for software professionals, managed and administrated by the Creators. We aim to make the tech industry more accessible to everyone, lowering the barrier to entry by providing accurate information that benefits our Community and the software development industry as a whole. All our Shows are streamed live so we can respond to our Community members' queries and questions immediately, giving them the information that they want on demand.</p>

  <p><strong>DNI Stream</strong> is the overarching Brand - which we refer to as a <em>repository</em>. This repository is branched into separate live services; currently a tech podcast, a development vodcast, and a chat server for our community.</p>

  <h3>About the Shows</h3>
  <p><strong>Documentation Not Included</strong> is a live streamed podcast where members of the tech industry from all over the world discuss their passions - in and out of a commercial setting. We aim to provide value to our Community by engaging the wider tech industry, facilitating accurate, informative content and hosting guests from a vast range of technical areas and disciplines.</p>

  <p><strong>Documentation Not Included</strong> contains some audio-visual elements such as production graphics and VTs, and is streamed to a live, interactive audience. It is recorded, then archived to YouTube (video) and Fireside (audio only) with minor quality edits only. All Contributors and Guests should bear this in mind when referring to or talking about visual elements that may not translate to an audio only podcast - though the Hosts will do their best to highlight this when necessary during the show. Any links, videos or visual elements required should be added to the show notes so they can be published with the episode.</p>

  <p><strong>Development Now Included</strong> is a live streamed vodcast where the Creators delve deeply into software development. These shows are not archived and are instead focussed on live audience interaction, featuring regular segues and mini bespoke tutorials.</p>
  
  <h3>Code of Ethics</h3>
  <h4>Fun & Enjoyment</h4>
  <p>Whilst the subject nature of the Shows can be very serious and detail oriented, our first priority is having fun. All Contributors do this their spare time, and their contribution should remain a fun and rewarding experience.</p>

  <h4>Discrimination, Favouritism &amp; Nepotism</h4>

  <p>Discrimination against another Contributor or a member of the Community based on race, politics, culture, creed, sex, gender, age, social standing, disability, commercial experience, or any other form is wholly unacceptable and will be met with instant bans / expulsion from community servers, depending on the severity of the discriminatory comments or opinions.</p>

  <p>Volunteers will be selected by the Creators and need not have direct commercial exposure to development.</p>

  <p>Guests are invited based on the value they provide the Show and the Community - meaning that most Guests will be tech industry members, developers, influential figures, and / or product evangelists from various different developmental disciplines.</p>

  <p>A number of Guests and Volunteers are likely to be related to, or closely connected to the Creators. These individuals will be treated in exactly the same way as all other Guests and Volunteers and will receive no special treatment.</p>

  <h4>Bribes, Incentives, Endorsements, Sponsorship &amp; Benefits</h4>

  <p>Under no circumstances should any Contributor accept or be influenced by an offer of incentive or bribery from any party, including Sponsors, members of the Community or other Contributors. The Project will remain a private organisation run by the Creators, unattached or influenced by any sponsors and / or other companies or individuals.</p>

  <p>Sponsorship can be viewed as a form of bribery if not handled correctly. Loot and / or Swag received from Sponsors will primarily be used as a marketing tool for the Show, providing the Community with benefits. Any Sponsorship that requires the Host(s) to mention or use a strap-line / tag-line will be presented as obvious product advertisement, and is not necessarily endorsed by the show.</p>

  <p>Creators reserve the right to take a benefit from Sponsorship, but not before the Community has already benefited from it. Any benefits taken from Sponsorship should not alter the benefactor’s views, opinions or preferences, other than by virtue of a trial or review where the benefit of the product is deemed to objectively improve the benefactor’s productivity or otherwise enhance their workflow. For example - if a commercial company were to offer exclusive free trial access to a newly released piece of software, and that software is objectively proven to improve the benefactor’s workflow on a particular project, it would be acceptable to endorse that product over its competitors. However, if that endorsement were due to a continued offer of free access to a tool that would otherwise cost the benefactor money, this would be seen as bribery, and ultimately harmful to the Community.</p>

  <h4>Platform Agnosticism</h4>

  <p>Development is a wide and varied area of expertise. The show aims to openly debate all and any development platforms, environments, architectures and stacks. Although prejudices against particular companies, ecosystems and platforms exist, we aim to objectively discuss and compare these differences in a non-prejudicial manner. Obstructive or unconstructive views are not welcome at DNI Stream.</p>

  <h4>Remote Nature of Contributions</h4>
  <p>All Creators come from different cultural and geographical backgrounds. The Project uses many digital communication and project management tools to facilitate a non-structured and remote way of working. At no point now or in the future will Contributors be required to travel elsewhere or meet another Contributor to complete any tasks.</p>

  <h4>Ownership &amp; Agreements</h4>
  <p>The Creators wholly own and operate the Project and Shows.</p>

  <p>All actions and decisions that affect the Show and Project must go through at least one Creator, who will inform or discuss them with the other Creators, whose decision is final.</p>

  <h4>Production</h4>
  <p>The Show is jointly produced by Shadow Moses Developments Ltd and Love Sudo Ltd (private limited companies registered in England & Wales, respective Company Numbers 6430842 and 10637782), the Creators own companies. This is to facilitate the rapid development of the Show and neither Creator benefits from this arrangement in any form.</p>

  <h4>Hosting</h4>
  <p>A Host may be a Creator or Volunteer. Each episode will be hosted by exactly one Host, who will direct and control the show in their own unique style.</p>

  <p>Hosts are directly responsible for the management of Guests, the production of show notes, and the running of the live episodes. Other participants can also contribute to the show notes.</p>

  <p>One or more Creators or Volunteers will be responsible for managing chat, including but not limited to the compilation of community questions for the Host to incorporate into the Show as appropriate.</p>

  <h4>Profanity</h4>
  <p>Whilst we’re all adults and our audience is likely to consist of mature tech industry professionals of at least 16 years old, the use of profanity on the Show or in chat - in an angry, trolling or other inappropriate context - is not acceptable. Use of profanity by the Host or Guests during recording of the Show is permitted, but discouraged in the interests of professionalism.</p>

  <hr />

  <p>This Code of Business Ethics is subject to change. If updated, all current Contributors will be issued with a new document.</p>

</div>
