<ul class="dni-soc-lnks">
  <li><a href="https://github.com/dnistream" title="DNI's GitHub" target="_blank"><i class="fab fa-github"></i><span class="social-text">GitHub</span></a></li>
  <li><a href="https://twitter.com/dnistream" title="DNI's Twitter" target="_blank"><i class="fab fa-twitter"></i><span class="social-text">Twitter</span></a></li>
  <li><a href="https://www.twitch.tv/dnistream/" title="DNI's Twitch Channel" target="_blank"><i class="fab fa-twitch"></i><span class="social-text">Twitch</span></a></li>
  <li><a href="https://youtube.dnistream.live" title="DNI's YouTube Channel" target="_blank"><i class="fab fa-youtube"></i><span class="social-text">YouTube</span></a></li>
  <li><a href="https://discord.dnistream.live" title="DNI's Discord Server" target="_blank"><i class="fab fa-discord"></i><span class="social-text">Discord</span></a></li>
  <li><a href="https://www.linkedin.com/company/dnistream/" title="DNI's LinkedIn Page" target="_blank"><i class="fab fa-linkedin-in"></i><span class="social-text">Linked In</span></a></li>
</ul>
