<ul class="social-links">
  <li><a href="https://www.linkedin.com/company/dnistream/" title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in fa-8x fa-border"></i></a></li>
  <li><a href="https://www.youtube.com/channel/UCvmKhmixJzc6Qe8mIqWn1pg" title="YouTube" target="_blank"><i class="fab fa-youtube fa-8x fa-border"></i></a></li>
  <li><a href="https://twitter.com/dnistream" title="Twitter" target="_blank"><i class="fab fa-twitter fa-8x fa-border"></i></a></li>
  <li><a href="https://www.twitch.tv/dnistream/" title="Twitch" target="_blank"><i class="fab fa-twitch fa-8x fa-border"></i></a></li>
  <li><a href="https://discord.gg/xUxMJt6" title="Discord" target="_blank"><i class="fab fa-discord fa-8x fa-border"></i></a></li>
</ul>
