<div class="container bg-light rounded p-4">
  <h1>Frequently Asked Questions</h1>

  <ul class="list-unstyled">
    <li>
      <h4>What time does the show start?</h4>
      <p>19:00 GMT / BST every Thursday</p>
    </li>
    <li>
      <h4>How do I chat to you?</h4>
      <p>During the show you can get involved in the live Twitch or Discord chat. Post an interesting comment or question and we may even read it out and / or discuss it on the show!</p>
      <p>When we're not streaming, at least one of us is likely to be active in Discord, so pop in and drop us a message.</p>
    </li>
    <li>
      <h4>Can you get &lt;insert name&gt; as a guest?</h4>
      <p>Possibly! We've got fingers in all kinds of pies, and the one's we don't we've eaten - if you have an idea for a guest or a subject, <a [routerLink]="['/contact']">contact us</a> and we'll see what we can do.</p>
    </li>
    <li>
      <h4>Why won't Chris shut up?</h4>
      <p>Believe me, we're sick of him too.</p>
    </li>
    <li>
      <h4>How do I help?</h4>
      <p>DNI is a passion project run by the Creators for the benefit of the community. If you want to help out and have skills in community moderation or video / audio editing, <a [routerLink]="['/contact']">contact us</a> and we'll have a chat.</p>
    </li>
  </ul>
</div>
