<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true" internalLogLevel="Error" internalLogFile="nlog.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
        <add assembly="NLog.Appsetting.Standard" />
    </extensions>

    <variable name="app_env" value="${appsetting:name=General.Env}" />
    <variable name="app_version" value="${appsetting:name=General.Version}" />
    <variable name="app_error_email_from" value="${appsetting:name=General.ErrorEmailFrom}" />
    <variable name="app_error_email_to" value="${appsetting:name=General.ErrorEmailTo}" />
    <variable name="app_smtp_server" value="${appsetting:name=General.SmtpServer}" />
    <variable name="app_smtp_server_port" value="25" />
    <variable name="logRoot" value="${basedir}/logs" />
    <variable name="archiveDateFormat" value="yyyy-MM-dd" />
    <variable name="ULevel" value="${pad:padding=5:alignmentOnTruncation=right:fixedLength:true:${uppercase:${level}}}" />
    <variable name="fullStack" value="${stacktrace:topFrames=5}" />
    <variable name="fullException" value="${exception:format=tostring,Data:maxInnerExceptionLevel=5}" />
    <variable name="exceptionIfPresent"
        value="${onexception:inner= | ${fullException}${newline}${fullStack}${newline}---------------------------------------------}" />
    <variable name="aspnet-context"
        value="${when:when=length('${aspnet-MVC-Controller}')>0:${aspnet-MVC-Controller}.${aspnet-MVC-Action}}${whenEmpty:whenEmpty=N/A:${aspnet-MVC-Controller}}" />
    <variable name="logLayout"
        value="THREAD ${pad:padCharacter=0:padding=5:inner=${threadid}} | ${ULevel} | ${longdate} | ${aspnet-context} | ${callsite} | ${message}${exceptionIfPresent}" />

    <targets>
        <target xsi:type="File" name="file-all" fileName="${logRoot}/all.log" layout="${logLayout}" archiveNumbering="Date"
            maxArchiveFiles="7" archiveEvery="Day" archiveDateFormat="${archiveDateFormat}" />

        <target xsi:type="File" name="file-app-level-only" fileName="${logRoot}/app.log" layout="${logLayout}"
            archiveNumbering="Date" maxArchiveFiles="7" archiveEvery="Day" archiveDateFormat="${archiveDateFormat}" />

        <target xsi:type="Mail" name="email-support" subject="${ULevel} - (${app_env} ${app_version}): DNI API"
            to="${app_error_email_to}" from="${app_error_email_from}" smtpServer="${app_smtp_server}" smtpPort="${app_smtp_server_port}"
            layout="An unhandled exception occurred in the API:${newline}${newline}${logLayout}${newline}${newline}This exception has been logged on the server." />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="file-all" />
        <logger name="Microsoft.*" maxLevel="Info" final="true" />
        <logger name="*" minlevel="Trace" writeTo="file-app-level-only" />
        <logger name="*" minlevel="Error" writeTo="email-support" />
    </rules>
</nlog>