@import './src/_bootstrap-variables';

form {
    .has-error {
        color: theme-color('warning');
        input, textarea, select {
            border-color: theme-color('warning');
        }
    }
}

:host ::ng-deep .tab-content {
    padding-top: 2em;
}
