<div class="jumbotron">
    <span id="logo">
        <img src="assets/logo.svg" alt="DNI Logo" />
    </span>

    <p class="lead">Documentation Not Included is a live-streamed development talk show and podcast where Josey, Chris and Patryk delve deep into all things development.</p>

    <p>We're platform agnostic, covering topics such as web development, process work-flows, enterprise architecture, game development, visual effects, community management, virtual assistance and DevOps practices.</p>

    <dni-social-links id="home-social"></dni-social-links>

    <hr class="my-4">

    <ng-container *ngIf="tickData && tickData.showIsLive">
        <iframe src="https://player.twitch.tv?channel=dnistream"
                height="100%"
                width="100%"
                frameborder="0"
                scrolling="no"
                allowfullscreen="false"
                style="width: 100%; height: 100%; min-height:300px; border: none;">
        </iframe>
    </ng-container>

    <ng-container *ngIf="tickData && !tickData.showIsLive">
        <h1 class="text-center">Next Show</h1>

        <div class="row text-center">
            <div class="col">
                <div class="h2">{{tickData.nextShowIn.days()}}</div>
                days
            </div>
            <div class="col">
                <div class="h2">{{tickData.nextShowIn.hours().toString() | leftpad: 2: '0' }}</div>
                hours
            </div>
            <div class="col">
                <div class="h2">{{tickData.nextShowIn.minutes().toString() | leftpad: 2: '0'}}</div>
                minutes
            </div>
            <div class="col">
                <div class="h2">{{tickData.nextShowIn.seconds().toString() | leftpad: 2: '0'}}</div>
                seconds
            </div>
        </div>

        <p class="h1 text-center mt-5">{{tickData.nextShowDate | date: 'EEEE d MMMM yyyy'}}</p>
        <p class="h2 text-center mt-3">{{tickData.nextShowDate | date: 'HH:mm z'}}</p>
        <p class="text-center text-muted mt-3">Ohhhh... but what happens when the countdown reaches zero?</p>
    </ng-container>
</div>

<dni-meet-the-creators></dni-meet-the-creators>
