<div class="container">
    <div class="jumbotron">
        <span id="logo">
        <img src="assets/logo.svg" alt="DNI Logo" />
    </span>

        <p class="lead">DNI Stream is a live knowledge repository for software professionals</p>

        <p>We aim to make development more accessible to everyone, lowering the barrier to entry by providing accurate information that benefits our community and the software development industry.</p>

        <p>All our content is streamed live so we can respond to our members' questions immediately, giving them the information that they want on demand.</p>
    </div>
</div>

<div class="alternate my-4 py-4">
    <div class="container">
        <p>The DNI Stream repository the following branches:</p>

        <ul>
            <li><strong>Documentation Not Included</strong>: An audio-first, 1 hour long live podcast and vodcast that delves into the world of the IT professional - from development languages and frameworks, to professional IT practices and processes. Documentation Not Included is published the day after we stream to all major podcasting platforms. Guests!</li>
            <li><strong>Development Now Included</strong>: An exclusively live-streamed vodcast that delves deep into software development projects. Josey and Chris </li>
            <li><strong>Discussion Never Ignored</strong>: Our Discord server is active with IT professionals from all over the world.</li>
        </ul>
    </div>
</div>

<div class="container bg-light rounded p-4 my-2">
    <dni-social-links id="dni-home-soc-lnks"></dni-social-links>

    <hr class="my-4">

    <ng-container *ngIf="tickData && tickData.showIsLive">
        <iframe src="https://player.twitch.tv?channel=dnistream"
                height="100%"
                width="100%"
                frameborder="0"
                scrolling="no"
                allowfullscreen="false"
                style="width: 100%; height: 100%; min-height:300px; border: none;">
        </iframe>
    </ng-container>

    <ng-container *ngIf="tickData && !tickData.showIsLive">
        <h1 class="text-center">Next Show</h1>

        <div class="row text-center">
            <div class="col">
                <div class="h2">{{tickData.nextShowIn.days()}}</div>
                days
            </div>
            <div class="col">
                <div class="h2">{{tickData.nextShowIn.hours().toString() | leftpad: 2: '0' }}</div>
                hours
            </div>
            <div class="col">
                <div class="h2">{{tickData.nextShowIn.minutes().toString() | leftpad: 2: '0'}}</div>
                minutes
            </div>
            <div class="col">
                <div class="h2">{{tickData.nextShowIn.seconds().toString() | leftpad: 2: '0'}}</div>
                seconds
            </div>
        </div>

        <p class="h1 text-center mt-5">{{tickData.nextShowDate | date: 'EEEE d MMMM yyyy'}}</p>
        <p class="h2 text-center mt-3">{{tickData.nextShowDate | date: 'HH:mm z'}}</p>
        <p class="text-center text-muted mt-3">Ohhhh... but what happens when the countdown reaches zero?</p>
    </ng-container>
</div>

<div class="container">
    <dni-meet-the-creators></dni-meet-the-creators>
</div>
