<div class="container bg-light rounded p-4">
  <h1>Privacy &amp; Cookie Policy</h1>

  <p>This privacy policy sets out how <strong>DNI Stream</strong> uses and protects any information that you provide when you use this website.</p>

  <p><strong>DNI Stream</strong> is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.</p>

  <p>We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from <strong>5th October 2018</strong> and was last modified on <strong>22nd December 2019</strong>.</p>

  <h2>What we collect</h2>
  <p>We may collect the following information:</p>

  <ul>
    <li>your name</li>
    <li>your email address</li>
    <li>any other details you provide in free-text inputs</li>
  </ul>

  <h2>What we do with the information we gather</h2>
  <p>We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:</p>

  <ul>
    <li>Replying to your contact request.</li>
    <li>We may use the information to customise the website according to your interests.</li>
  </ul>

  <h2>Security</h2>
  <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

  <h2>How we use cookies</h2>
  <p>A cookie is a small file which asks permission to be placed on your computer's hard drive. Cookie files are created automatically and help us to analyse web traffic or customise our visitor's web experience. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>

  <p>We use Google Analytics to monitor website traffic and usage, which requires a number of different cookies to operate. This helps us analyse data about web page traffic and improve our website in order to tailor it to customer needs. We only use this information for statistical analysis purposes. You can read more about Google Analytics' privacy and cookies <a href="https://www.google.com/intl/en/policies/privacy/"
       target="_blank"
       rel="noopener">here</a> and <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage"
       target="_blank"
       rel="noopener">here</a>.</p>

  <p>Overall, cookies help us provide you with a better website by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any personal information about you, other than the data you choose to share with us.</p>

  <p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.</p>

  <h2>Links to other websites</h2>
  <p>Our website contains links to other websites of interest. However, whilst we strive to provide only legitimate and safe external links, once you have used these links to leave our site you should note that we do not have any control over that other website. Therefore, we are not responsible for the protection and privacy of any information which you provide whilst visiting such sites, and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>

  <h2>Controlling your personal information</h2>
  <p>You may choose to restrict the collection or use of your personal information in the following ways:</p>

  <ul>
    <li>whenever you are asked to fill in a form on the website, look for the box that you can click to indicate that you do not want the information to be used for direct marketing purposes</li>
    <li>if you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by contacting us.</li>
  </ul>

  <p>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting as part of our own marketing material.</p>

  <p>You may request details of personal information which we hold about you under the <a href="https://www.gov.uk/data-protection"
       target="_blank"
       rel="noopener">Data Protection Act 2018</a>. If you would like a copy of the information held on you please contact us.</p>

  <p>If you believe that any information we are holding on you is incorrect or incomplete, please contact us as soon as possible. We will promptly correct any information found to be incorrect.</p>

</div>
