<div class="container bg-light rounded p-4">
  <h1>Show Archive</h1>

  <form class="form-inline py-3 justify-content-end"
        name="show-list-filter-form"
        id="show-list-filter-form"
        (ngSubmit)="onSubmit()"
        #f="ngForm"
        novalidate>
    <label for="orderByField"
           class="my-3 mr-0 mr-sm-3">Order By:</label>
    <select
        class="form-control mr-sm-3 mb-2 mb-md-0"
        id="orderByField"
        name="orderByField"
        [(ngModel)]="filters.orderByField"
        #orderByField="ngModel">
        <option *ngFor="let f of filterKeys" [value]="f">{{getFilterName(f)}}</option>
    </select>
    <label class="sr-only"
           for="orderByOrder">Order:</label>

    <select
        class="form-control mr-md-3 mb-2 mb-md-0"
        id="orderByOrder"
        name="orderByOrder"
        [(ngModel)]="filters.orderByOrder"
        #orderByOrder="ngModel">
        <option *ngFor="let o of filterOrders" [value]="o">{{o}}</option>
    </select>

    <button type="submit" class="btn btn-primary col-12 col-md-2">Update</button>
  </form>

  <dni-pager [totalItems]="totalItems"
             [itemsPerPage]="itemsPerPage"
             [totalPages]="totalPages"
             [currentPage]="currentPage"
             [items]="shows"
             [showTotals]="false"
             (pageChanged)="onPageChanged($event)">
  </dni-pager>

  <dni-loading *ngIf="!shows || shows.length <= 0"></dni-loading>

  <ng-container *ngFor="let show of shows">
    <div class="row">
      <div class="col-12 pb-2">
        <h4>{{show.title}}</h4>
      </div>
      <div class="col-md-3 d-none d-md-block text-center">
        <img [src]="show.imageUrl" [alt]="show.title" class="img-thumbnail" />
        <!-- this comment stops vscode from indenting the rest of this page incorrectly (img tag weirdness?) -->
      </div>
      <div class="col-md-5"
           [innerHtml]="show.summary">
      </div>
      <div class="col-md-4 pt-2 pt-md-0">
        <div class="row">
          <div class="col-10 col-md-12 text-md-right">
            <strong>Published</strong>: {{show.publishedTime | date: 'EE d MMM yy'}}<br/>
            <strong>Duration</strong>: {{show.duration}}
          </div>
          <div class="col-2 col-md-12 text-md-right">
            <a [routerLink]="['/show-archive', show.slug]" title="Listen / View Episode Details"><i class="fas fa-podcast fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </ng-container>

  <dni-pager [totalItems]="totalItems"
             [itemsPerPage]="itemsPerPage"
             [totalPages]="totalPages"
             [currentPage]="currentPage"
             [items]="shows"
             itemType="podcasts"
             (pageChanged)="onPageChanged($event)">
  </dni-pager>
</div>
